

.about-background{
    background-color: rgb(65, 65, 65);
    height: 100%;
    border-radius: 5px;
}

.me{
    height: 75%;
    width: 75%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
.padded-10{
    padding: 10%;
}
.padded-5{
    padding: 5%;
}
.padded-1{
    padding: 1%;
}

.white-text{
    color:white;
}
.white-link{
    text-decoration: none;
    color:white
}

.top{
    padding-top: 10%;
}
.center {
    text-align: center;
  }

.spacer{
    height: 40%;
}
.bottom{
    
    bottom: 0;
}

@media screen and (max-width: 850px) {
    .me{
        height: 75%;
        width: 75%;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }
    .top{
        padding: 0%;
    }
}