<div class="about-background white-text">
    
    <div class="row top">
            <img class="me" src="../../../assets/img/me.jpg">  
    </div>

    <div class="row center">
        <h2>{{about.name}}</h2>
    </div>

    <div class="row center">
        <h6 class="padded-5">{{about.bio}}</h6>
    </div>

    <div class="row center">
        <div class="col">
            <button (click)="nav(about.linkedInUrl)" type="button" class="btn btn-link btn-lg white-link"><i class='fab fa-linkedin-in'></i></button>
            <button (click)="nav(about.gitHubUrl)" type="button" class="btn btn-link btn-lg white-link"><i class='fab fa-github'></i></button>
            <button (click)="nav(about.stackOverflowUrl)" type="button" class="btn btn-link btn-lg white-link"><i class='fab fa-stack-overflow'></i></button>
            <button (click)="mail(about.email)" type="button" class="btn btn-link btn-lg white-link"><i class='fa fa-envelope'></i></button>
        </div>
    </div>

</div>